.home-container {
    margin: 0 auto;
    width: 21em;
    text-align: center;
}

#motto {
    margin: 1em auto;
    width: 318px;
    font-size: 1rem;
    line-height: 1.5em;
}

.name{
    color:#2d8aed;
}

.offer{
    margin-top: 3%;
}