.home-container {
    margin: 0 auto;
    width: 21em;
    text-align: center;
}

.mainContain {
    background: #d7ddde;
    width: 95%;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

#motto {
    margin: 0 auto;
    width: 60%;
    font-size: 1rem;
    line-height: 1.5em;
}

.name{
    color:#2d8aed;
}

.offer{
    margin-top: 6%;
}